.detailBox {
  border-style: solid;
  border-color: black;
  border-radius:2px;
  border-width: 3px;
  width: 30%;
  float: right;
  position: absolute;
  top: 9%;
  right: 9%;
  z-index: 100;
  text-align: left;
  padding: 2%;
}

input {
  background-color: aliceblue;
}
